# Build artifacts
*.o
*.obj

# Python
__pycache__/
*.pyc

# Local logs
*.log

# Editor/OS cruft
.DS_Store
*~
.idea/
.vscode/

# Never commit the copyrighted app, the Wine prefix, or installers
*.exe
wineprefix/
prefix/
